body {
    text-align: center;
    background: #D4CFB8;
}

p.text {
    line-height: 1.4em;
}


.left_arrow {
    left: 0;
    top: 36px;
    width: 36px;
    height: 504px;
    /* ↓dataスキーム。IE7では未対応 */
    background: url(data:image/gif;base64,R0lGODlhGAAgAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAYACAAAAJdnI+pyz3gIpixgSBgTVN4vRmX94UPQJKghKWlhLoqK6crF9fzMuq20vG5bj3hT5QzHovKZat5PEGjomfzJoViq1dLUrdFMGVh8ZfqGL82QXSFWfbuTIdRHHZ/0xsFAA==);
}

.right_arrow {
    left: 732px;
    top: 36px;
    width: 36px;
    height: 504px;
    background: url(data:image/gif;base64,R0lGODlhGAAgAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAYACAAAAJenI+pCOsO4psGiNAoFFzqZHFX9lWi6H3hOZYrK6TPC2MUDcekguf20svpeELh7xAsDk1KYyap/EGFqSnryGx2dtkoF6mVgby3ohjo+25Y59kJq0Kpy/DSIDJX2ff2AgA=);
}

.up_arrow {
    left: 36px;
    top: 540px;
    width: 696px;
    height: 36px;
    background: url(data:image/gif;base64,R0lGODlhIAAYAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAgABgAAAJanI+py20AnGQghDjzEwJrCXCc9y2VKFwlhY6rErbu+wQyp9Lx3ek8SsqcfrggiAj87JAzkI0pyjmW0N60KjMehtiodkDtWhNh8bhmlknB6ZsHAo/L53Q4TVMAAA==);
}

.down_arrow {
    left: 36px;
    top: 540px;
    width: 696px;
    height: 36px;
    background: url(data:image/gif;base64,R0lGODlhIAAYAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAgABgAAAJZnI+pm+APo5zuAIGz3nwDBATdSAYfSKbecqnpqYTuaDJDO6/2nWuwLevVdgbc7Ec0vogNkWrItLiQUR6JWg1yoFVUB9u1+sIMrYBL9mLAaSu7HUK3G+85uQAA);
}

.right_arrow,
.left_arrow,
.up_arrow,
.down_arrow {
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10000;
    filter: alpha(opacity=15);
    -moz-opacity: 0.15;
    opacity: 0.15;
}

/* IE6ではaタグ以外の:hoverは未対応 */
.right_arrow:hover,
.left_arrow:hover,
.up_arrow:hover,
.down_arrow:hover {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

#escapegame_main {
    position: relative;
    width: 960px;
    height: 720px;
    padding: 0;
    margin: 0 auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#nowloading {
    position: static !important;
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
    font-size: 48px;
    font-weight: bold;
    font-family: aqua_pfont, "あくあＰフォント", aquafont, "あくあフォント";
    color: #CCCCCC;
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#messagebox_outer1 {
    position: absolute;
    left: 0px;
    top: 576px;
    width: 960px;
    height: 128px;
    background-color: #006600;
}

#messagebox_outer2 {
    border: 8px #000066 solid;
    padding: 8px;
}

#messagebox {
    width: 100%;
    height: 96px;
    font-size: 36px;
    line-height: 48px;
    font-family: aqua_pfont, "あくあＰフォント", aquafont, "あくあフォント";
    color: #CCCCCC;
    text-align: justify;
}

#itembox_outer1 {
    position: absolute;
    left: 768px;
    top: 0px;
    width: 192px;
    height: 576px;
    background-color: #006666;
}

#itembox_outer2 {
    border-top: 12px #000066 solid;
    border-left: 12px #000066 solid;
    border-right: 12px #000066 solid;
    padding: 0px;
}

#itembox {
    width: 100%;
    height: 564px;
}

.scene {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
    background: url(images/gameover1.png) no-repeat;
    visibility: hidden;
}

#sea {
    background-position: 0 0px;
    background-size: 100%;
}

#beach {
    background-position: 0 -576px;
    background-size: 100%;
}

#forest {
    background-position: 0 -1152px;
    background-size: 100%;
}

#house {
    background-position: 0 -1728px;
    background-size: 100%;
}

#box {
    background-position: 0 -2250px;
    background-size: 100%;
}

#ome {
    background-position: 0 -3456px;
    background-size: 100%;
}

#title {
    background-position: 0 -2304px;
    background-size: 100%;
}

#over {
    background-position: 0 -2880px;
    background-size: 100%;
}

#start {
    position: absolute;
    left: 153px;
    top: 402px;
    width: 411px;
    height: 133.5px;
    cursor: pointer;
}

#go_title {
    position: absolute;
    left: 106.5px;
    top: 408px;
    width: 285px;
    height: 97.5px;
    cursor: pointer;
    z-index: 1;
}

/* ここまで変更した */
/* #box_form {
	position: absolute;
	left: 160px;
	top: 256px;
	text-align: center;
	z-index: 1;
}
#box_form input.text {
	font-size: 24px;
	width: 192px;
	height: 32px;
	-moz-user-select: all !important;
	-khtml-user-select: all !important;
	-webkit-user-select: all !important;
	user-select: all !important;
}
#box_form input.button {
	margin-top: 16px;
	font-size: 24px;
	font-family : aqua_pfont, "あくあＰフォン�?", aquafont, "あくあフォン�?";
} */

/*拡大関�?*/
/* #door1, #door2, #deguchi, #card1, #card2, #card3, #card4, #card5, #redkey, #item_redkey, #box_small, #rakugaki_small, #table_small, #colorbox {
	position: absolute;
	background: url(gameover.png) no-repeat;
} */
/* #door1, #door2 {
	background-position: 0px -156px;
	left: 200px;
	top: 131px;
	width: 118px;
	height: 192px;
	z-index: 2;
}
#door2 { visibility: hidden; }
#deguchi {
	background-position: -118px -156px;
	left: 200px;
	top: 131px;
	width: 118px;
	height: 192px;
	z-index: 1;
} */
/* #card1, #card2, #card3, #card4, #card5 {
	width: 96px;
	height: 156px;
}

#card1 { background-position:    0px 0px; left: 405px; top:  44px; z-index: 2; }
#card2 { background-position:  -96px 0px; left: 200px; top:  30px; z-index: 3; }
#card3 { background-position: -192px 0px; left: 100px; top: 184px; z-index: 1; }
#card4 { background-position: -288px 0px; left:  18px; top:  22px; z-index: 5; }
#card5 { background-position: -384px 0px; left: 300px; top: 180px; z-index: 4; } */
/* #redkey {
	left: 228px;
	top: 164px;
	z-index: 2;
}
#item_redkey {
	left: 8px;
	top: 8px;
}
#box_small {
	background-position: -370px -284px;
	left: 192px;
	top: 280px;
	width: 128px;
	height: 64px;
	z-index: 1;
}
#rakugaki_small {
	background-position: -480px 0px;
	left: 227px;
	top: 260px;
	width: 32px;
	height: 24px;
	z-index: 1;
}
#colorbox {
	background-position: -370px -156px;
	left: 200px;
	top: 208px;
	width: 86px;
	height: 128px;
	z-index: 2;
}
#table_small {
	background-position: -236px -156px;
	left: 200px;
	top: 200px;
	width: 134px;
	height: 156px;
	z-index: 1;
} */

/*TimeOut*/
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 150;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div {
    padding: 15px;
    border-radius: 4.5px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span {
    padding: 30px;
    border-radius: 4.5px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 7.5px;
    font-size: 30px;
}

#timespace {
    position: absolute;
    right: 120px;
}

/*house_door*/
#house_door {
    background-position: -213px -936px;
    background-size: 100%;
    width: 150px;
    height: 225px;
    margin-left: 319.5px;
    margin-top: 252px;
    z-index: 5;
    cursor: pointer;
}

/*Bottle*/
#closed_bottle {
    background: url(images/closed_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-left: 637.5px;
    margin-top: 300px;
    width: 60px;
    height: 24px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
}

#item_closed_bottle {
    background: url(images/closed_bottle.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

#item_open_bottle {
    background: url(images/open_bottle.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

#item_filled_bottle {
    background: url(images/filled_bottle.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}
/*letter*/
#item_letter{
    background: url(images/letter.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 70px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}
#item_alcohol_letter{
    background: url(images/alcoholletter.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 70px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}
#item_kindled_letter{
    background: url(images/kindled_letter.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 70px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}
/*alcohol*/
#item_alcohol{
    background: url(images/alcohol.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}
/*key*/
#item_boxkey{
    background: url(images/boxkey.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}
/*dynamite*/
#dynamite {
    background: url(images/gameover1.png) no-repeat;
    background-position: -340px -1310px;
    /*ペイントで選択して大きさ見る*/
    background-size: 100%;
    /*指定しないと元の画像サイズになってしまう*/
    margin-left: 510px;
    /*340*1.5*/
    margin-top: 237px;
    /*#forestのbackgroundpositionの1152を1310から引いて*1.5*/
    width: 91.5px;
    /*ペイントで選択して大きさ見る*/
    height: 51px;
    /*ペイントで選択して大きさ見る*/
    z-index: 500;
    cursor: pointer;
}

#item_dynamite {
    background: url(images/dynamite.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 148px;
    height: 94px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 100px;
    border: hidden #000000;
    padding: 5px;
}

#item_zoom {
    background: url(images/item_zoom.png) no-repeat;
    position: absolute;
    z-index: 500;
    width: 70px;
    height: 70px;
    margin-left: 12px;
    margin-top: 12px;
    background-size: 70px;
    bottom: 0;
    display: none;
}

#close_modal {
    background: url(images/close_zoom.png) no-repeat;
    position: absolute;
    z-index: 500;
    width: 70px;
    height: 70px;
    margin-left: 80px;
    margin-top: 12px;
    background-size: 70px;
    bottom: 0;
    display: none;
}

/* #content{
    left: 50px;
} */
/* modal window */
#modal_scene {
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
}

.modal {
    display: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
    z-index: 100000000;
}

.modal__bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 768px;
    height: 576px;
}

.modal__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal_closed_bottle {
    background: url(images/closed_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 150px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_open_bottle {
    background: url(images/open_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 150px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_letter {
    background: url(images/letter.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 170px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_alcohol {
    background: url(images/alcohol.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 150px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_filled_bottle {
    background: url(images/filled_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 150px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_alcohol_letter {
    background: url(images/alcoholletter.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 170px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_kindred_letter {
    background: url(images/kindled_letter.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 170px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_dynamite {
    background: url(images/dynamite.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_boxkey {
    background: url(images/boxkey.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}