body {
    text-align: left;
    background: #D4CFB8;
}

p.text {
    line-height: 1.4em;
}


.left_arrow {
    left: 0;
    top: 36px;
    width: 36px;
    height: 504px;
    /* ↓dataスキーム。IE7では未対応 */
    background: url(data:image/gif;base64,R0lGODlhGAAgAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAYACAAAAJdnI+pyz3gIpixgSBgTVN4vRmX94UPQJKghKWlhLoqK6crF9fzMuq20vG5bj3hT5QzHovKZat5PEGjomfzJoViq1dLUrdFMGVh8ZfqGL82QXSFWfbuTIdRHHZ/0xsFAA==);
}

.right_arrow {
    left: 732px;
    top: 36px;
    width: 36px;
    height: 504px;
    background: url(data:image/gif;base64,R0lGODlhGAAgAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAYACAAAAJenI+pCOsO4psGiNAoFFzqZHFX9lWi6H3hOZYrK6TPC2MUDcekguf20svpeELh7xAsDk1KYyap/EGFqSnryGx2dtkoF6mVgby3ohjo+25Y59kJq0Kpy/DSIDJX2ff2AgA=);
}

.up_arrow {
    left: 36px;
    top: 540px;
    width: 696px;
    height: 36px;
    background: url(data:image/gif;base64,R0lGODlhIAAYAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAgABgAAAJanI+py20AnGQghDjzEwJrCXCc9y2VKFwlhY6rErbu+wQyp9Lx3ek8SsqcfrggiAj87JAzkI0pyjmW0N60KjMehtiodkDtWhNh8bhmlknB6ZsHAo/L53Q4TVMAAA==);
}

.down_arrow {
    left: 36px;
    top: 540px;
    width: 696px;
    height: 36px;
    background: url(data:image/gif;base64,R0lGODlhIAAYAJEDAAAAAH9/f////wD//yH5BAEAAAMALAAAAAAgABgAAAJZnI+pm+APo5zuAIGz3nwDBATdSAYfSKbecqnpqYTuaDJDO6/2nWuwLevVdgbc7Ec0vogNkWrItLiQUR6JWg1yoFVUB9u1+sIMrYBL9mLAaSu7HUK3G+85uQAA);
}

.right_arrow,
.left_arrow,
.up_arrow,
.down_arrow {
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10000;
    filter: alpha(opacity=15);
    -moz-opacity: 0.15;
    opacity: 0.15;
}

/* IE6ではaタグ以外の:hoverは未対応 */
.right_arrow:hover,
.left_arrow:hover,
.up_arrow:hover,
.down_arrow:hover {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

#escapegame_main {
    position: relative;
    width: 960px;
    height: 720px;
    padding: 0;
    margin: 0 auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#nowloading {
    position: static !important;
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
    font-size: 48px;
    font-weight: bold;
    font-family: aqua_pfont, "あくあＰフォント", aquafont, "あくあフォント";
    color: #CCCCCC;
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#messagebox_outer1 {
    position: absolute;
    left: 0px;
    top: 576px;
    width: 960px;
    height: 128px;
    background-color: #006600;
}

#messagebox_outer2 {
    border: 8px #000066 solid;
    padding: 8px;
}

#messagebox {
    width: 100%;
    height: 96px;
    font-size: 36px;
    line-height: 48px;
    font-family: aqua_pfont, "あくあＰフォント", aquafont, "あくあフォント";
    color: #CCCCCC;
    text-align: justify;
}

#itembox_outer1 {
    position: absolute;
    left: 768px;
    top: 0px;
    width: 192px;
    height: 576px;
    background-color: #006666;
}

#itembox_outer2 {
    border-top: 12px #000066 solid;
    border-left: 12px #000066 solid;
    border-right: 12px #000066 solid;
    padding: 0px;
}

#itembox {
    width: 100%;
    height: 564px;
}

.scene {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
    background: url(images/gameover1.png) no-repeat;
    visibility: hidden;
}

/* sceans */
#sea {
    background-position: 0 0px;
    background-size: 100%;
}

#forest {
    background-position: 0 -1152px;
    background-size: 100%;
}

#house {
    background-position: 0 -1728px;
    background-size: 100%;
}

#ome {
    background-position: 0 -3456px;
    background-size: 100%;
}

#title {
    background-position: 0 -2304px;
    background-size: 100%;
}

#over {
    background-position: 0 -2880px;
    background-size: 100%;
}

#prologue{
    background: rgb(0, 0, 0);
    font-size: 36px;
    line-height: 48px;
    font-family: aqua_pfont, "あくあＰフォント", aquafont, "あくあフォント";
    color: #CCCCCC;
    text-align: justify;
    padding:50px;
    width: 668px;
    height: 476px;
}

#epilogue{
    background: rgb(0, 0, 0);
    font-size: 36px;
    line-height: 48px;
    font-family: aqua_pfont, "あくあＰフォント", aquafont, "あくあフォント";
    color: #CCCCCC;
    text-align: justify;
    padding:50px;
    width: 668px;
    height: 476px;

}

/* sceansここまで */

/*TimeOut*/
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 150;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div {
    padding: 15px;
    border-radius: 4.5px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span {
    padding: 30px;
    border-radius: 4.5px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 7.5px;
    font-size: 30px;
}

#timespace {
    position: absolute;
    right: 120px;
}

/*目標*/
#purpose{
    position: absolute;
    right: 20px;
    top: 340px;
    display: none;
    color: rgb(139, 57, 19)
}
#maxpurpose{
    font-size: 30px;
    font-weight: 600;
    display: none;
    color: saddlebrown
}

#minpurpose1{
    font-size: 25px;
    font-weight: 600;
    display: none;
    text-decoration: none;
    color: saddlebrown
}

#minpurpose2{
    font-size: 25px;
    font-weight: 600;
    display: none;
    color: saddlebrown
}

/*説明*/
#explanationwrap{
    position: absolute;
    left: 50px;
    width: 420px;
    color: saddlebrown
}
#explanation{
    font-size: 50px;
    font-weight: 600;
    color: rgb(139, 57, 19)
}
#ss{
    font-size: 23px;
    font-weight: 600;
    
}

/* seaに配置されてるもの */
/*Bottle*/
#closed_bottle {
    background: url(images/closed_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-left: 637.5px;
    margin-top: 300px;
    width: 60px;
    height: 24px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
}

#water {
    background: url(images/gameover1.png) no-repeat;
    background-position: 0px 170px;
    /*ペイントで選択して大きさ見る*/
    background-size: 100%;
    /*指定しないと元の画像サイズになってしまう*/
    margin-top: 255px;
    /*#forestのbackgroundpositionの1152を1310から引いて*1.5*/
    width: 768px;
    /*ペイントで選択して大きさ見る*/
    height: 50px;
    /*ペイントで選択して大きさ見る*/
    z-index: 501;
    cursor: pointer;
    position: absolute;
}

#ship_side {
    background: url(images/ship_side.png) no-repeat;
    background-position: 0px 0px;

    width: 100px;
    height: 100px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
}

#ship_front {
    background: url(images/ship_front.png) no-repeat;
    background-position: 0px 0px;

    width: 100px;
    height: 100px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    display: none;
}

/* seaに配置されてるものここまで */
/* beachに配置されてるもの */
/* beachに配置されてるものここまで */
/* forestに配置されてるもの */
/*house_door*/
#house_door {
    background-position: -213px -936px;
    background-size: 100%;
    width: 150px;
    height: 225px;
    margin-left: 319.5px;
    margin-top: 252px;
    z-index: 5;
    cursor: pointer;
    position: absolute;
}

#boxkey {
    background: url(images/boxkey.png) no-repeat;
    background-position: 0px 0px;
    width: 60px;
    height: 24px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
    margin-top: 400px;
    margin-left: 600px;
}

/* forestに配置されてるものここまで */
/* houseに配置されてるもの */
/*dynamite*/
#dynamite {
    background: url(images/gameover1.png) no-repeat;
    background-position: -340px -1310px;
    /*ペイントで選択して大きさ見る*/
    background-size: 100%;
    /*指定しないと元の画像サイズになってしまう*/
    margin-left: 510px;
    /*340*1.5*/
    margin-top: 237px;
    /*#forestのbackgroundpositionの1152を1310から引いて*1.5*/
    width: 91.5px;
    /*ペイントで選択して大きさ見る*/
    height: 51px;
    /*ペイントで選択して大きさ見る*/
    z-index: 501;
    cursor: pointer;
    position: absolute;
}

#alcohol {
    background: url(images/alcohol.png) no-repeat;
    background-position: 0px 0px;
    width: 50px;
    height: 40px;
    z-index: 502;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
    display: none;
    top: 75px;
    left: 60px;
}

#closed_box {
    background: url(images/closed_box.png) no-repeat;
    background-position: 0px 0px;
    width: 177.6px;
    height: 112.8px;
    margin-left: 200px;
    margin-top: 275px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
}

#open_box {
    background: url(images/open_box.png) no-repeat;
    background-position: 0px 0px;
    width: 177.6px;
    height: 169.2px;
    margin-left: 200px;
    margin-top: 210px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
    display: none;
}

#newspaper {
    background: url(images/newspaper.png) no-repeat;
    background-position: 0px 0px;

    width: 148px;
    height: 188px;

    margin-left: 410px;
    margin-top: 300px;
    z-index: 500;
    cursor: pointer;
    background-size: 100%;
    position: absolute;
}

/* houseに配置されてるものここまで */
/* omeに配置されてるもの */
/* omeに配置されてるものここまで */
/* titleに配置されてるもの */
#start {
    position: absolute;
    left: 153px;
    top: 402px;
    width: 411px;
    height: 133.5px;
    cursor: pointer;
}

/* titleに配置されてるものここまで */
/* overに配置されてるもの */
#over_title {
    position: absolute;
    left: 106.5px;
    top: 408px;
    width: 300px;
    height: 97.5px;
    cursor: pointer;
    z-index: 10000;
}

/* overに配置されてるものここまで */
/* omeに配置されてるもの */
#ome_title {
    position: absolute;
    left: 217px;
    top: 408px;
    width: 227px;
    height: 77px;
    cursor: pointer;
    z-index: 10000;
}

/* omeに配置されてるものここまで */
/* itemboxに配置されてるもの */
#item_closed_bottle {
    background: url(images/closed_bottle.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

#item_open_bottle {
    background: url(images/open_bottle.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

#item_filled_bottle {
    background: url(images/filled_bottle.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

/*letter*/
#item_letter {
    background: url(images/letter.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 70px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

#item_alcohol_letter {
    background: url(images/alcoholletter.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 70px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

#item_kindled_letter {
    background: url(images/kindled_letter.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 70px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

/*alcohol*/
#item_alcohol {
    background: url(images/alcohol.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}

/*key*/
#item_boxkey {
    background: url(images/boxkey.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 102px;
    height: 50px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 45%;
    border: hidden #000000;
    padding: 5px;
}


#item_dynamite {
    background: url(images/dynamite.png) no-repeat;
    background-position: center;
    margin: 15px auto;
    width: 148px;
    height: 94px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background-size: 100px;
    border: hidden #000000;
    padding: 5px;
}

#item_zoom {
    background: url(images/item_zoom.png) no-repeat;
    position: absolute;
    z-index: 500;
    width: 70px;
    height: 70px;
    margin-left: 12px;
    margin-top: 12px;
    background-size: 70px;
    bottom: 0;
    display: none;
}

#close_modal {
    background: url(images/close_zoom.png) no-repeat;
    position: absolute;
    z-index: 500;
    width: 70px;
    height: 70px;
    margin-left: 80px;
    margin-top: 12px;
    background-size: 70px;
    bottom: 0;
    display: none;
}

/* itemboxに配置されてるものここまで */

/* #content{
    left: 50px;
} */

/* modal windowに配置されてるもの */
#modal_scene {
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
}

.modal {
    display: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 768px;
    height: 576px;
    z-index: 100000000;
}

.modal__bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 768px;
    height: 576px;
}

.modal__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal_closed_bottle {
    background: url(images/closed_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 150px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_open_bottle {
    background: url(images/open_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 150px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_letter {
    background: url(images/letter.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 170px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_alcohol {
    background: url(images/alcohol.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 150px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_filled_bottle {
    background: url(images/filled_bottle.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 150px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_alcohol_letter {
    background: url(images/alcoholletter.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 170px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_kindled_letter {
    background: url(images/kindled_letter.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 170px;
    z-index: 500;
    background-size: 300px;
    display: none;
}

#modal_dynamite {
    background: url(images/dynamite.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}

#modal_boxkey {
    background: url(images/boxkey.png) no-repeat;
    background-position: 0px 0px;
    margin-top: 12px;
    width: 300px;
    height: 200px;
    z-index: 500;
    background-size: 100%;
    display: none;
}
/* modal windowに配置されてるものここまで */
/*ヒントモーダルに使うもの*/
#tips{
    display: none;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal_Tips{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90000000;    
}
.modal_Tips_bg{
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal_Tips_content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%; 
}